In [1]:
import numpy as np
import re
import tweepy
import pandas as pd

In [2]:
access_token = "1534128356249280514-MhoVqrd9N6d4bUz9zTaEa0D2uiNSXL"
access_token_secret = "yI5hF7QQ3RRAW7EzgaxnhjB95zaMeYtEWcQmuL7AZTs44"
api_key = "YRNrHGFuSHWkxNL5VRI2vOZsh"
api_key_secret = "MLTT8X8ESa7NQ3RrBbHYpXa2ylVwIa9dXZJ28eJQbfuNTS7jzX"

In [3]:
auth = tweepy.OAuthHandler(consumer_key=api_key, consumer_secret=api_key_secret)
auth.set_access_token(access_token,access_token_secret)

api = tweepy.API(auth)
#print(api)

#zimbabwe_woeid =1466847
keywords = '#bhora'
limit = 1000

In [54]:
tweets = tweepy.Cursor(api.search_tweets,q = keywords, count = 100, tweet_mode = 'extended' ).items(limit)
#trend_result =api.get_place_trends(zimbabwe_woeid)
 #create dataframe
columns = ['Tweet']
data = []

for tweet in tweets:
    data.append([tweet.full_text])
df= pd.DataFrame(data,columns=columns)

In [55]:
def clean_tweet(tweet):
    if type(tweet) == np.float:
        return ""
    temp = tweet.lower()
    temp = re.sub("'", "", temp) # to avoid removing contractions in english
    temp = re.sub("@[A-Za-z0-9_]+","", temp)
    temp = re.sub("#[A-Za-z0-9_]+","", temp)
    temp = re.sub(r'http\S+', '', temp)
    temp = re.sub('[()!?]', ' ', temp)
    temp = re.sub('\[.*?\]',' ', temp)
    temp = re.sub("[^a-z0-9]"," ", temp)
    temp = temp.split()
    #temp = [w for w in temp if not w in stopwords]
    temp = " ".join(word for word in temp)
    return temp

In [56]:
results = [clean_tweet(tw) for tw in df['Tweet']]

In [57]:
Sn = pd.DataFrame(results,columns=columns)
Sn

                                                 Tweet
0                                        havisi kubuda
1                       kkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
2    its a strategy in zanudia avoid the question i...
3                                                 what
4                         sekuru gudo ndatsva tsviramo
..                                                 ...
995                             hahahaha politics ma 1
996                                              hezvo
997                                           very sad
998  they were behind odinga now they couldnt conta...
999                        oh lord no bloodshed please

[1000 rows x 1 columns]

In [58]:
# creating excel writer object
 
writer = pd.ExcelWriter('converted-to-excel.xlsx')

In [59]:
# write dataframe to excel
 
Sn.to_excel(writer)
 
# save the excel
writer.save()
print("DataFrame is exported successfully to 'converted-to-excel.xlsx' Excel File.")

DataFrame is exported successfully to 'converted-to-excel.xlsx' Excel File.